server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/users/**
        - id: betting-service
          uri: lb://betting-service
          predicates:
            - Path=/api/bets/**
        - id: event-service
          uri: lb://event-service
          predicates:
            - Path=/api/events/**
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

jwt:
  secret: mySecretKey123456789012345678901234567890